<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro de Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Días totales de clases</ion-label>
      <ion-input type="number" [(ngModel)]="totalDays"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Días faltados</ion-label>
      <ion-input type="number" [(ngModel)]="absentDays"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="calcularPorcentaje()">Calcular</ion-button>

    <ion-item *ngIf="percentage !== undefined">
      <ion-label>Porcentaje de asistencia:</ion-label>
      <ion-text>{{ percentage }}%</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
