<ion-header>
  <ion-toolbar>
    <ion-buttons class="btn-asistencia" slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Asistencia de clase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let clase of materia">
      <ion-label>
        <h2>{{ clase.curso }}</h2>
        <p>{{ clase.Docente }}</p>
        <p>Día: {{ clase.dia }}</p>
        <p>Porcentaje de asistencia: {{ clase.porcentaje }}%</p>
        <ion-icon *ngIf="clase.faltado" name="close-circle"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
