<ion-content>
    <img src="assets/icon/LOGITO.png"/>
</ion-content>

<form action="">
    <ion-content>
        <div class="login-section ion-padding">
            <div class="heading ion-padding">
                <ion-buttons class="boton" slot="start">
                    <ion-back-button defaultHref="/login"> </ion-back-button>
                </ion-buttons>
                <h1>Bienvenido a RegistrApp</h1>
                <p>Restablecer Contraseña</p>
            </div>
            <div class="login-form ion-padding">
                <div class="form-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-item>
                        <ion-input type="text" placeholder="Usuario" [(ngModel)]="nombre" name="nombre"></ion-input>
                    </ion-item>
                </div>
                <div class="form-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <ion-item>
                        <ion-input type="password" [(ngModel)]="nuevaContrasena" name="Contraseña" placeholder="Ingresar Contraseña"></ion-input>
                    </ion-item>
                    <div class="form-input">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <ion-item>
                            <ion-input type="password" [(ngModel)]="confirmarContrasena" placeholder="Confirmar contraseña" name="recuperar"></ion-input>
                        </ion-item>
                    </div>
                </div>
            </div>
            <div class="action-buttons ion-padding">
                <ion-button expand="full" (click)="resetContrasena()">Restablecer Contraseña</ion-button>
            </div>
        </div>
    </ion-content>
</form>