<ion-header>
    <ion-toolbar>
        <ion-title>Nueva Contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="nuevaContrasena"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Confirmar nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmarContrasena"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="resetContrasena()">Restablecer Contraseña</ion-button>
</ion-content>