<ion-content>
    <img src="assets/imagenes/LOGITO.png" />
</ion-content>

<form (ngSubmit)="recuperar()">
    <ion-content>
        <div class="login-section ion-padding">
            <div class="heading ion-padding">
                <ion-buttons class="boton" slot="start">
                    <ion-back-button defaultHref="/login"> </ion-back-button>
                </ion-buttons>
                <h1>Bienvenido a RegistrApp</h1>
                <p>Restablecer Contraseña</p>
            </div>
            <div class="login-form ion-padding">
                <div class="form-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-item>
                        <ion-input [(ngModel)]="username" type="text" placeholder="Usuario" name="username"></ion-input>
                    </ion-item>
                </div>
                <div class="form-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <ion-item>
                        <ion-input [(ngModel)]="password" type="password" name="password"
                            placeholder="Ingresar Contraseña" maxlength="4"
                            onkeypress=" return (event.charCode >= 48 && event.charCode <= 57)"></ion-input>
                    </ion-item>
                </div>
            </div>
            <div class="action-buttons ion-padding">
                <ion-button expand="full" type="submit">Restablecer Contraseña</ion-button>
            </div>
        </div>

    </ion-content>
</form>