<ion-content>
  <div class="main_content_div">
      <ion-buttons class="menu_btn" slot="start">
        <ion-menu-button color="light"></ion-menu-button>
        <ion-back-button defaultHref="/home"> </ion-back-button>
      </ion-buttons>

      <div class="user_div">
          <div class="first_div">
              <ion-label class="welcome">
                  Bienvenido
              </ion-label>
              <ion-label class="nombre">
                  {{nombreUsuario}}
              </ion-label>
          </div>
          <div class="user_back" [style.backgroundImage]="'url(assets/icon/usuario.png)'">
          </div>
      </div>
      <div class="content_div animated bounceInUp">
        <ion-label class="hello_lbl">
          Bienvenido a Nuestro menu de hoy
      </ion-label>

      <div class="col_div">
        <ion-list>
          <ion-item *ngFor="let plato of platos">
            <ion-thumbnail slot="start">
              <img [src]="plato.strMealThumb" alt="plato" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ plato.strMeal }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      
      </div>
  </div>
</ion-content>