<ion-header>
  <ion-toolbar>
    <ion-buttons class="btn-horario" slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Horario de Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let clase of clases">
    <ion-item button (click)="toggleAccordion(clase)">
      <ion-label>{{ clase.curso }}</ion-label>
    </ion-item>
    <ion-item *ngIf="clase.expanded">
      <ion-label>
        <p>{{ clase.Docente}}</p>
        <p>-----------------------------------------------------------</p>
        <p>{{ clase.aula }}</p>
        <br>
        <p>{{ clase.dia }}, {{ clase.hora }}</p>
        <p>-----------------------------------------------------------</p>
        <p>{{ clase.aula2 }}</p>
        <br>
        <p>{{ clase.dia2 }}, {{ clase.hora2 }}</p>
        <p>-----------------------------------------------------------</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>