<ion-content>
    <div class="main_content_div">
        <ion-buttons slot="start" class="menu_btn">
            <ion-menu-button color="light">
            </ion-menu-button>
        </ion-buttons>

        <div class="user_div">
            <div class="first_div">
                <ion-label class="welcome">
                    Bienvenido
                </ion-label>
                <ion-label class="nombre">
                    {{nombreUsuario}}
                </ion-label>
                <br>
                <ion-label *ngFor="let item of clima" class="tiempo">
                    Temperatura de hoy: {{item.Temperature.Value}} °C
                </ion-label>
            </div>
            <div class="user_back" [style.backgroundImage]="'url(assets/imagenes/avatar_person_icon.png)'">
            </div>
        </div>
        <div class="content_div animated bounceInUp">
            <ion-label class="hello_lbl">
                Bienvenido a RegistrApp
            </ion-label>

            <ion-card>
                <ion-card-header>
                  <ion-card-title>Horario</ion-card-title><a (click)="irhorar()"><img src="assets/imagenes/calendar_icon.png"></a>
                  <ion-card-subtitle>{{nombreUsuario}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Horario de clases de: {{nombreUsuario}}
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-header>
                  <ion-card-title>Asistencia</ion-card-title><a (click)="irasist()"><img src="assets/imagenes/calendar_date_icon.png"></a>
                  <ion-card-subtitle>{{nombreUsuario}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Asistencia de: {{nombreUsuario}}
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-header>
                  <ion-card-title>Scanner</ion-card-title>
                  <ion-card-subtitle>{{nombreUsuario}}</ion-card-subtitle><a (click)="irScanner()"><img src="assets/imagenes/scanner_icon.png"></a>
                </ion-card-header>
                <ion-card-content>
                  Escaneo de QR
                </ion-card-content>
              </ion-card>

            <ion-grid fixed>
                <ion-row>
                    <div class="col_div">
                        <a (click)="llamartodo()"><img src="assets/imagenes/exit_icon.png"></a>
                        <ion-label>Cerrar Sesion</ion-label>
                    </div>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>