<ion-content>
    <div class="main_content_div">
        <ion-buttons slot="start" class="menu_btn">
            <ion-menu-button color="light">

            </ion-menu-button>
        </ion-buttons>

        <div class="user_div">
            <div class="first_div">
                <ion-label class="welcome">
                    Bienvenido
                </ion-label>
                <ion-label class="nombre">
                    {{nombreUsuario}}
                </ion-label>
            </div>
            <div class="user_back" [style.backgroundImage]="'url(assets/imagenes/avatar_person_icon.png)'">
            </div>
        </div>
        <div class="content_div animated bounceInUp">
            <ion-label class="hello_lbl">
                Bienvenido a RegistrApp
            </ion-label>

            <ion-grid fixed>
                <ion-row>
                    <div class="col_div">
                        <a (click)="irqr()"><img src="assets/imagenes/qrcode_icon.png"></a>
                        <ion-label>Crear qr</ion-label>
                    </div>

                    <div class="col_div">
                        <a (click)="irhorar()"><img src="assets/imagenes/calendar_icon.png"></a>
                        <ion-label>Horario</ion-label>
                      </div>
                      

                    <div class="col_div">
                        <img src="assets/imagenes/calendar_date_icon.png">
                        <ion-label>Asistencia</ion-label>
                    </div>
                </ion-row>
            </ion-grid>

            <ion-grid fixed>
                <ion-row>
                    <div class="col_div">
                        <img src="assets/imagenes/configuration_icon.png">
                        <ion-label>Ajustes</ion-label>
                    </div>

                    <div class="col_div">
                        <img src="assets/imagenes/scanner_icon.png">
                        <ion-label>Scaner</ion-label>
                    </div>
                    
                    <div class="col_div">
                        <img src="assets/imagenes/notification_icon.png">
                        <ion-label>Notificaciones</ion-label>
                    </div>
                </ion-row>
            </ion-grid>

            <ion-grid fixed>
                <ion-row>
                    <div class="col_div">
                        <a (click)="irComida()"><img src="assets/imagenes/food_icon.png"></a>
                        <ion-label>Comida</ion-label>
                    </div>

                    <div class="col_div">
                        <img src="assets/imagenes/qrcode_icon.png">
                        <ion-label>Prox.</ion-label>
                    </div>

                    <div class="col_div">
                        <img src="assets/imagenes/qrcode_icon.png">
                        <ion-label>Prox.</ion-label>
                    </div>
                </ion-row>
            </ion-grid>

            <ion-grid fixed>
                <ion-row>
                    <div class="col_div">
                        <img src="assets/imagenes/qrcode_icon.png">
                        <ion-label>Prox.</ion-label>
                    </div>

                    <div class="col_div">
                        <img src="assets/imagenes/qrcode_icon.png">
                        <ion-label>Prox.</ion-label>
                    </div>

                    <div class="col_div">
                        <a (click)="llamartodo()"><img src="assets/imagenes/exit_icon.png"></a>
                        <ion-label>Cerrar Sesion</ion-label>
                    </div>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>