<ion-buttons class="boton" slot="start">
    <ion-back-button defaultHref="/login"> </ion-back-button>
  </ion-buttons>
<ion-header>
    <ion-toolbar color="mycolor">
        <ion-title>Home</ion-title>  
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>
        <br>
        <h1>Bienvenido/a {{nombreUsuario}} :3 </h1>
        <br>
    </ion-label>

    <ion-card>
        <img src="assets/icon/codqr.JPG"/>
        <ion-card-header>
          <ion-card-title>QR RegistrAPP:</ion-card-title>
          <ion-card-subtitle>Escanea tú código aquí!</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <br>
      <ion-button color="success">Escanear</ion-button>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title class="ion-footer1">
            <strong><h1>Duoc UC</h1></strong>
        </ion-title>
    </ion-toolbar>
</ion-footer>
