<ion-content>
  <img src="assets/imagenes/LOGITO.png" />
</ion-content>

<ion-content>
  <form (ngSubmit)="registro()">
    <div class="login-section ion-padding">
      <div class="heading ion-padding">
        <ion-buttons class="boton" slot="start">
          <ion-back-button defaultHref="/login"> </ion-back-button>
        </ion-buttons>
        <h1>Bienvenido a RegistrApp</h1>
        <p>Crea tu cuenta para continuar</p>
      </div>
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="person-outline"></ion-icon>
          <ion-item>
            <ion-input type="text" placeholder="PARANGUARANCUIRITIMICARO" [(ngModel)]="username" name="nombre"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-input type="password" placeholder="****" [(ngModel)]="password" name="password" maxlength="4"onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="action-buttons ion-padding">
        <ion-button size="large" class="register-button" type="submit" >Confirmar Registro</ion-button>
      </div>
    </div>
  </form>
</ion-content>